@use "../../utility/globals";

.astroTextFieldContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.astroTextField {
  outline: none !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.primary {
  border: 3px solid globals.$primary-color;
  &:focus {
    border: 3px solid globals.$primary-color-pseudo-class;
  }
}

.secondary {
  border: 3px solid globals.$secondary-color;
  &:focus {
    border: 3px solid globals.$secondary-color-pseudo-class;
  }
}

.tertiary {
  border: 3px solid globals.$tertiary-color;
  &:focus {
    border: 3px solid globals.$tertiary-color-pseudo-class;
  }
}

.small {
  border-radius: 6px;
  font-size: 12px;
  padding: 4px;
}

.medium {
  border-radius: 8px;
  font-size: 18px;
  padding: 6px;
}

.large {
  border-radius: 10px;
  font-size: 24px;
  padding: 8px;
}

.iconSmall {
  font-size: 21px;
  padding: 1px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconMedium {
  font-size: 28px;
  padding: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconLarge {
  font-size: 35px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.disabled {
  border: none !important;
  cursor: default !important;
}
